#uno {
    background-color: gray;
    width: 100%;
}
#dos {
    background-color: aqua;
    width: 50%;
}
#tres {
    background-color: palegreen;
    width: 50%;
}
#cuatro {
    background-color: orange;
    width: 50%;
}